/* Principals font*/
@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI'), url('segoeui.woff') format('woff');
    unicode-range: U+0020—007F;
    }
@font-face {
    font-family: 'Simplex';
    src: url(../fonts/Simplex.ttf);
    font-style: normal;
    unicode-range: U+0020—007F;
}

@font-face{
    font-family: 'KozMin';
    src: url(../fonts/KozMinPr6N-Heavy.otf);
    font-style: normal;
    unicode-range: U+0020—007F;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}


* {
    padding: 0;
    margin: 0;
   
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFE9CC;
}

p span{
    font-weight: bold;
}

/*************************************
            HEADER AND NAVBAR
***************************************/

div.header_content{
    width: 100%;
   
    display: flex;
    flex-direction: column;
    background-color: #FFE9CC;
   
   
}

div.navbar{
    display: flex;
    flex-direction: column;
    background-color: #FFD9A7;
    overflow: visible;
}
div.logo_nav{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-top: 15px;

}
div.logo_nav a{
    margin: 20px;
    flex: 0 0 50%;
}

.navbar_btn {
    flex: 0 1 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navbar_btn span{
    
    margin: 8px;
    width: 12vw;
    height: 3px;
    background-color: #707070;
    display: flex;
    flex-direction: column;
    
}

/**Navbar */
.navbar_ul{

    list-style: none;
    display:    none;
    flex-direction: column;
    align-items: center;
    transition: all 5s;
   
  
    
}

.navbar_ul li {
    
    margin: 17px;
    border-bottom: 2px solid #707070;
    padding: 20px;
}

.navbar_ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

/*************************************
            HERO AND HERO CONTENT
***************************************/

.presentation{
   
    background-image: url(../img/minJPG/Header\ Bg-min.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
   
    

}

.presentation h1{
    flex: 0 0 10%;
    margin: 20px;
    text-align: center;
    font-family: Tw Cen MT;
    background-color: rgba(255, 255, 255, .4);
    font-size: 1.8em;
    color: #4B2402;
    text-transform: uppercase;
    padding: 15px;
}
.hello_world{
    flex: 1 0 90%;
    margin: 0px 20px;

    background-color: rgba(255, 255, 255, .4);
    border-radius: 0px 30px 0px 0px;
    display: flex;
    flex-direction: column

}

.hello_world h2{
    text-align: center;
    margin: 15px;
    line-height: 30px;
    padding: 15px;
    border-bottom: 1px solid #707070;
    font-size: 2em;
}

.hello_world p{
    text-align: left;
    margin: 15px;
    font-size: 1.6em;
    font-weight: lighter;
   
}


/*************************************
            FOOTER CONTENT
***************************************/
.pie_content{
    background-color: #FFD9A7;
}
.pie_box{
    margin: 10px;
    padding: 10px;
}

.pie_box p{
    margin: 1em;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Simplex',Verdana, Geneva, Tahoma, sans-serif;
}
.block{
    margin-top: 2rem;
    padding: 20px;
    text-align: center;
    border: .7px dashed #707070;
}

.redes{
    display: flex;
    font-size: 2.5em;
    flex-wrap: wrap
    

}
.redes a{
    color: #707070;
    flex: 1 1 45%;
    text-align: center;
    margin: 10px;
}



.pie_derechos{
    text-align: center;
    margin: 20px;
}


.button{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Simplex', Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 1.4rem;
    border: 3px solid #707070;
    text-decoration: none;
    background-color: #fff;
    text-decoration: underline;


}

.button img{
    width: 60px;
}

/*************************************
        MEDIA QUERIE
***************************************/
@media only screen and (min-width:1024px){
    .hero{
        order: 1;
    }

   .presentation{
       display: block
       background-position: center;
       height:75vh;
       background-image: url(../img/minJPG/Background-min.jpg);
   }
   .presentation h1{
       width: 50vw;
       font-size: 2.6em;
   }
   .hello_world{
      width: 50vw;
   
   }
   .button{
       width: 20vw;
   }

   .navbar{
        order: 2;
        height: 25vh;
        flex-direction: row;
        align-items: center;
      
     
    }
 
    #logo{
        width: 250px;
        margin-bottom: 30px;
        margin-left: auto;
     
    
    }

    .navbar_btn{
        display: none;
    }
    .navbar_ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
       
    }
    .navbar_ul li a{
        font-size: .9em;

    }

    .navbar_ul li{
        transition: transform .3s ease-in;
    }

    .navbar_ul li:hover{
        transform: scale(1.1,1.1);
    }

   
   
    
    

}

@media only screen and (min-width:768px){
    .pie_content{
        display: flex;
        flex-direction: row;
    }
    .pie_box{
        flex: 0 1 50%;
    }
}



/****************************

         Helper CSS



******************************/

.invisible{
    display: flex;
    animation-name: dropDown;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
}

@keyframes dropDown{
    0%{
        display: none;
        visibility: hidden;
        opacity: .3;
        transform: translateY(-500px) rotateX(30deg) rotateY(180deg);
       
    }
    50%{
        display: none;
        
    }
    
}

